# Node
node_modules/

# Fabric generated crypto
crypto-config/
organizations/

# Channel artifacts
channel-artifacts/

# Docker volumes
data/
*.log

# Fabric chaincode builds
build/
dist/

# MinIO storage
medical-records/
minio-data/

# OS
.DS_Store

# Next.js
.next/
out/

# Node
node_modules/

# Env
.env

# Keys (VERY IMPORTANT)
btp-ui/backend/keys/

# Logs
*.log

# Build cache
*.tsbuildinfo