PORT=4000

# MinIO
MINIO_ENDPOINT=127.0.0.1
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=medical-records

# Fabric CLI integration
FABRIC_USE_MOCK=true
FABRIC_SCRIPT_DIR=../../network/scripts
FABRIC_UPLOAD_CMD=../../network/scripts/upload-record.sh
FABRIC_REQUEST_CMD=../../network/scripts/request-access.sh
FABRIC_APPROVE_CMD=../../network/scripts/approve-access.sh
FABRIC_QUERY_CMD=../../network/scripts/query-record.sh
FABRIC_LIST_CMD=../../network/scripts/list-records.sh
FABRIC_CHANNEL=medical-main-channel
FABRIC_PEER_CONTAINER=peer0.hospital1.medical-network.com
