PORT=4000

# MinIO
MINIO_ENDPOINT=127.0.0.1
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=medical-records

# Fabric CLI integration
FABRIC_USE_MOCK=true
FABRIC_CHANNEL=medical-main-channel
FABRIC_CC_MEDICAL=medical-records
FABRIC_CC_AUTH=authorization-consent
FABRIC_PEER_ENDPOINT=localhost:8051
FABRIC_PEER_HOST_ALIAS=peer0.hospital1.medical-network.com
FABRIC_CRYPTO_PATH=../../network/crypto-config
FABRIC_IDENTITY_ORG=hospital1
FABRIC_IDENTITY_USER=Admin
FABRIC_PEER_CONTAINER=peer0.hospital1.medical-network.com
